<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/customize.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Customize the Icons!</p>
        <form>
            <label>Icon Name: </label>
            <select id="icon-name-dropdown">
            </select>
            <label>Size (px): </label>
            <input placeholder="240..." id="size-in-pixels">
            <label>Color (hex): </label>
            <input placeholder="#808080..." id="color-code">
            <button>Change</button>
        </form>
        <div class="center-image">
            <img id="display-image">
        </div>

    </div>
    <div class="download-buttons">
        <a id="download-svg" download>
            <button>Download SVG</button>
        </a>
        <a id="download-png" download>
            <button>Download PNG</button>
        </a>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>