<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/customize.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Customize the Icons!</p>
        <form>
            <label>Icon Name: </label>
            {{!-- <input placeholder="icon_name..." id="iconName"> --}}
            <select id="icon-name-dropdown">
                {{!-- <option value="action_chains">Action Chains</option>
                <option value="activate_subscriptions">Activate Subscriptions</option>
                <option value="admin">Admin</option>
                <option value="api">Api</option> --}}
            </select>
            <label>Size (px): </label>
            <input placeholder="240..." id="size-in-pixels">
            <label>Color (hex): </label>
            <input placeholder="#808080..." id="color-code">
            <button>Change</button>
        </form>
        <p id="message"></p>
        <img id="display-image">
    </div>
    <div class="download-buttons">
        <a id="download-svg" download>
            <button>Download SVG</button>
        </a>
        {{!-- <br> --}}
        <a id="download-png" download>
            <button>Download PNG</button>
        </a>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>